/* style for footer */
.footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
  }
  
  /* style for social media icons */
  .social-link {
    display: inline-block;
    margin: 0 10px;
  }
  
  .social-link img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
  }
  
  .social-link img:hover {
    transform: scale(1.2);
  }
  /* style for h1 element */
h1 {
    font-size: 36px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* style for h2 element */
  h2 {
    font-size: 24px;
    color: #666;
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
  }
  